body {
  font-family: 'Roboto', sans-serif;
  color: #757575; /* grey darken-1 */
}

/**
 * Header Section with Navigation
 **/
header {
  border-bottom: 2px solid #e0e0e0; /* grey lighten-2 */
  padding: 2vmin 0;
}
nav {
  /* padding: 0 2vmin; */
  /* padding-bottom: 4vmin; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  justify-content: center;
  width: 100%;
}
li {
  margin: 3vmin 3vw;
}
.fab, .fas {
  color: #757575; /* grey darken-1 */
  font-size: 6vmin;
}
.fa-github {
  color: #24292E;
}
.fa-codepen {
  color: #000;
}
.fa-free-code-camp {
  color: #006400;
}
.fa-linkedin {
  color: #0077B5;
}
.logo-remote {
  width: 8vmin;
  height: 100%;
}
.logo-insta {
  width: 5.5vmin;
  height: 100%;
  padding-top: 1vmin;
}
.logo {
  /* max-width: 100px; */
  /* width: 15%; */
  /* height: 15%; */
  /* margin-left: 2.7vmin; */
  width: 10vmin;
}
ul {
  list-style: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  /* 50% {opacity: 0.5;} */
  100% {opacity: 1;}
}
.header-text {
  color: #757575; /* grey darken-1 */
  font-size: 22px;
  margin: auto;
  padding: 1vmin;
  text-align: center;
  width: 200px;
}

/**
 * Main Section
 **/
main {
  /* justify-content: flex-start; */
  /* padding: 5vmin 0 5vmin 0; */
  margin: 1px auto;
  min-height: calc(100vh - 140px);
  border-bottom: 2px solid #e0e0e0; /* grey lighten-2 */
}
.apps {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0 0;
}
blockquote {
  animation-duration: 3s;
  animation-name: fadeIn;
  font-size: 4vmin;
  margin: 0;
}
.quote {
  border-bottom: 2px solid #e0e0e0; /* grey lighten-2 */
  min-height: 5vh;
  padding: 10vmin 15vmin;
  text-align: center;
}
figure {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
}
figcaption {
  color: #757575; /* grey darken-1 */
  /* font-size: 4.5vmin; */
  font-size: 16px;
}
a {
  text-decoration: none;
}
.app-logo {
  width: 60%;
  height: 60%;
  border: 3px solid #e0e0e0; /* grey lighten-2 */
  border-radius: 12px;
  /* width: 20vmin;
  height: 20vmin;
  border: 3px solid #e0e0e0; /* grey lighten-2 */
  /* border-radius: 12px;
  margin: 3vmin 3vmin 1vmin 3vmin; */
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
}
.app-logo:hover {
  cursor: pointer;
  transform: scale(1.1);  /*https://www.webnots.com/11-image-hovering-effects-for-weebly/*/
  -webkit-transform:scale(1.1);
}
footer {
  /* position: absolute;
  padding: 2vmin;
  bottom: 0; */
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
blockquote footer {
  font-size: 2.5vmin;
}

/* Smaller */
@media (min-width: 320px) {
  figure {
    width: 33.33%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  figcaption {
    color: #757575; /* grey darken-1 */
    /* font-size: 4.5vmin; */
    font-size: 18px;
  }
  .header-text {
    width: 450px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  figure {
    width: 25%;
  }
  blockquote {
    font-size: 30px;
  }
  blockquote footer {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  figure {
    width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin: auto;
  }
}
