body {
  font-family: 'Roboto', sans-serif;
  color: #757575; /* grey darken-1 */
}
header {
  border-bottom: 2px solid #e0e0e0; /* grey lighten-2 */
}
nav {
  padding: 2vmin;
  padding-bottom: 5vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  justify-content: flex-end;
  width: 80%;
}
li {
  margin: 3vmin 3vw;
}
.fab, .fas {
  color: #757575; /* grey darken-1 */
  font-size: 6vmin;
}
.fa-github {
  color: #24292E;
}
.fa-codepen {
  color: #000;
}
.fa-free-code-camp {
  color: #006400;
}
.fa-linkedin {
  color: #0077B5;
}
.logo-remote {
  width: 8vmin;
  height: 100%;
}
.logo {
  max-width: 100px;
  width: 15%;
  height: 15%;
}
ul {
  list-style: none;
}
main {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  padding: 5vmin 0 10vmin 0;
  margin: 1px auto;
  min-height: calc(100vh - 140px);
  border-bottom: 2px solid #e0e0e0; /* grey lighten-2 */
}
figure {
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
  width: 50%;
}
figcaption {
  color: #757575; /* grey darken-1 */
  /* font-size: 4.5vmin; */
  font-size: 16px;
}
a {
  text-decoration: none;
}
.app-logo {
  width: 60%;
  height: 60%;
  border: 3px solid #e0e0e0; /* grey lighten-2 */
  border-radius: 12px;
  /* width: 20vmin;
  height: 20vmin;
  border: 3px solid #e0e0e0; /* grey lighten-2 */
  /* border-radius: 12px;
  margin: 3vmin 3vmin 1vmin 3vmin; */
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
}
.app-logo:hover {
  cursor: pointer;
  transform: scale(1.1);  /*https://www.webnots.com/11-image-hovering-effects-for-weebly/*/
  -webkit-transform:scale(1.1);
}
footer {
  /* position: absolute;
  padding: 2vmin;
  bottom: 0; */
  padding: 20px;
  text-align: center;
}

/* Smaller */
@media (min-width: 320px) {
  figure {
    width: 33.33%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  figcaption {
    color: #757575; /* grey darken-1 */
    /* font-size: 4.5vmin; */
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  figure {
    width: 25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  figure {
    width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    width: 1200px;
  }
}
