html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

.container {
  margin: 50px auto;
  min-height: calc(100vh - 140px);
}

#topRow {
  margin: 25px;
}

#wikiLogo {
  margin: 0 auto;
  max-width: 125px;
}

.input-group {
  max-width: 280px;
  margin: 30px auto;
}

#btnRandom {
  margin: 30px auto;
  background-color: #f9fbe7;
}

.btn-get {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

footer {
  color: #bdbdbd;
}

